# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

# Unity
*.csproj
*/*csproj
*.sln
*.vcproject
*.pidb
*.csproj
*.exe

# Mac
.DS_Store
*.DS_Store
**/.DS_Store
**/**/.DS_Store

# Git Conflicts
*.BASE
*.MINE
*.OTHER

# monodevelop project files

"Auto Zombie"/Library
Auto Zombie/Temp
Auto Zombie/Assembly-CSharp-Editor-vs.csproj
Auto Zombie/Assembly-CSharp-Editor.csproj
Auto Zombie/Assembly-CSharp-firstpass-vs.csproj
Auto Zombie/Assembly-CSharp-firstpass.pidb
Auto Zombie/Assembly-CSharp-vs.csproj
Auto Zombie/Assembly-CSharp.csproj
Auto Zombie/Assembly-CSharp.pidb
Auto Zombie/Assembly-UnityScript.pidb
Auto Zombie/assembly-csharp-firstpass.csproj
Auto Zombie/assembly-unityscript-vs.unityproj
Auto Zombie/assembly-unityscript.unityproj
Auto Zombie/Assembly-UnityScript-Editor-firstpass-vs.unityproj
Auto Zombie/Assembly-UnityScript-Editor-firstpass.unityproj
Auto Zombie/Assembly-UnityScript-firstpass-vs.unityproj
Auto Zombie/Assembly-UnityScript-firstpass.unityproj
Auto Zombie/Assembly-UnityScript-vs.unityproj
Auto Zombie/Assembly-UnityScript.unityproj
Auto Zombie/RedsRevenge.userprefs
Auto Zombie/Assembly-Boo-vs.booproj
Auto Zombie/Assembly-Boo.booproj
Auto Zombie/Build
Auto\ Zombie/WarGolf
.DS_Store
  
*.userprefs
lrrh/lrrh.userprefs

*.pyc

